<app-breadcrumb
  [items]="[{text: 'Categorias', link: '/categories'},{text: pageTitle}]">
</app-breadcrumb>

<app-page-header
  button-class="btn btn-light" button-link="/categories" button-text="<< Voltar"
  [page-title]="pageTitle">
</app-page-header>

<app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre a Categoria
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input class="form-control" type="text" id="name" formControlName="name">
          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>

        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input class="form-control" type="text" id="description" formControlName="description">
          <app-form-field-error [form-control]="resourceForm.get('description')"></app-form-field-error>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-3" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let err of serverErrorMessages">{{err}}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary btn-lg float-right mt-3"
          [disabled]="resourceForm.invalid || submitingForm">Salvar
  </button>
</form>
