<app-breadcrumb
  [items]="[{text: 'Lançamentos', link: '/entries'},{text: pageTitle}]">
</app-breadcrumb>

<app-page-header
  button-class="btn btn-light" button-link="/entries" button-text="<< Voltar"
  [page-title]="pageTitle">
</app-page-header>

<app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">

    <div class="card-header">
      Informações sobre o Lançamento
    </div>

    <div class="card-body">
      <div class="row">
        <!--type-->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select class="form-control" name="name" id="type" formControlName="type">
            <option *ngFor="let opt of typeOptions" [value]="opt.value">{{opt.text}}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>
        </div>

        <!--name-->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input class="form-control" type="text" id="name" formControlName="name">
          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>

        <!--amount-->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input class="form-control text-right" type="text" id="amount"
                   [imask]="imaskConfig" formControlName="amount">
          </div>
          <app-form-field-error [form-control]="resourceForm.get('amount')"></app-form-field-error>
        </div>

        <!--date-->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar formControlName="date" id="date" inputStyleClass="form-control"
                      datatype="string" dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true"></p-calendar>
        </div>
        <app-form-field-error [form-control]="resourceForm.get('date')"></app-form-field-error>
      </div>

      <div class="row">
        <!--description-->
        <div class="form-group col-md-2">
          <label>Pago</label>
          <div class="btn-group">
            <label class="btn btn-outline-info" [class.active]="resourceForm.get('paid').value"
                   (click)="resourceForm.get('paid').setValue(true)">Pago</label>
            <label class="btn btn-outline-info" [class.active]="!resourceForm.get('paid').value"
                   (click)="resourceForm.get('paid').setValue(false)">Pendente</label>
          </div>
          <app-form-field-error [form-control]="resourceForm.get('paid')"></app-form-field-error>
        </div>

        <!--categoria-->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>
          <select class="form-control" name="categoryId" id="categoryId" formControlName="categoryId">
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('categoryId')"></app-form-field-error>
        </div>

        <!--description-->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input class="form-control" type="text" id="description" formControlName="description">
          <app-form-field-error [form-control]="resourceForm.get('description')"></app-form-field-error>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg float-right mt-3"
          [disabled]="resourceForm.invalid || submitingForm">Salvar
  </button>
</form>
